version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/document_vault?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=password
      - APP_JWT_SECRET=9a4f2c8d3b7a1e6f45c8a0b3f2e1d5c9a8b47e6f3c2a1d5b8e7f4c6a9d2b5e8f

  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=document_vault
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
